@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Montserrat:wght@400;600&family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&family=Oswald:wght@400;700&family=Lobster&family=Pacifico&family=Bebas+Neue&family=Anton&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



.signature-text {
  font-family: "Monsieur La Doulaise", serif;
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 1px; /* Thin scrollbar */
    background: transparent; /* Initially hidden */
  }

  .scrollbar-thin:hover::-webkit-scrollbar {
    background: rgba(128, 128, 128, 0.2); /* Light gray on hover */
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.4); /* Gray thumb */
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.8); /* Darker gray on hover */
  }
}
@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield; /* Firefox */
  }
}

.font-arial {
  font-family: Arial, sans-serif;
}

.font-helvetica {
  font-family: Helvetica, sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-times-new-roman {
  font-family: 'Times New Roman', serif;
}

.font-georgia {
  font-family: Georgia, serif;
}

.font-playfair-display {
  font-family: 'Playfair Display', serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.font-garamond {
  font-family: Garamond, serif;
}

.font-lobster {
  font-family: 'Lobster', cursive;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-bebas-neue {
  font-family: 'Bebas Neue', sans-serif;
}

.font-anton {
  font-family: 'Anton', sans-serif;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}
