@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.signature-text {
  font-family: "Monsieur La Doulaise", serif;
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 1px; /* Thin scrollbar */
    background: transparent; /* Initially hidden */
  }

  .scrollbar-thin:hover::-webkit-scrollbar {
    background: rgba(128, 128, 128, 0.2); /* Light gray on hover */
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.4); /* Gray thumb */
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.8); /* Darker gray on hover */
  }
}
@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield; /* Firefox */
  }
}